.user-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    flex: 1;
  }
  
  .main-content > * {
    flex: 1;
  }
  
  .AppSidebar {
    flex: 0 0 250px; /* Adjust the sidebar width as needed */
  }
  
  .Dashboard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }